* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    padding: 20px;
    width: 970px;
    min-height: 400px;
    /* background-color: red; */
}

header {
    /* background-color: blue; */
    min-height: 50px;
    position: relative;
    margin-bottom: 30px;
}

header h2,
form {
    display: inline-block;
}

#reset {
    position: relative;
    left: 700px;
    padding: 5px;
    background-color: red;
    color: white;
    cursor: pointer;
}

#start {
    position: relative;
    left: 700px;
    padding: 5px;
    background-color: green;
    color: black;
    cursor: pointer;
}

main {
    /* background-color: yellow; */
    width: 100%;
    min-height: 50px;
    margin-bottom: 30px;
}

main .box {
    text-align: center;
    width: 23%;
    min-height: 40px;
    /* background-color: green; */
    border: 1px solid black;
    display: inline-block;
    margin-right: 13px;
}

main .box h3,
input {
    margin-bottom: 10px;
}

main .box input {
    background-color: green;
    padding: 10px;
    color: white;
    cursor: pointer;
}

section {
    width: 100%;
    padding: 20px;
}

.log {
    width: 100%;
    min-height: 200px;
    height: 200px;
    overflow: auto;
    /* background-color: red; */
    border: 1px solid black;
}

.log p {
    margin-bottom: 5px;
}

#loss {
    color: red;
}

#win {
    color: green;
}
